__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
.venv
venv
ENV
pip-wheel-metadata
.pytest_cache
.coverage
.DS_Store
local_settings.py
*.sqlite3
*.log
*.bak
credentials.json
*.json
.git
.gitignore
.dockerignore
README.md
README-cloudshell.txt